doctype html
//
  Project: "Travel Experts" - group website
  Filename:bookingpage.pug
  Target Dir: ./views
  Authors: Wayne Frisch, Keith Wang, Chris Okpala
  Date: 2020-03-19
  Credits:
  Tony Grimes 2020, SAIT instructor - sait.ca
  .git repository - https://github.com/acidtone/cprg210-frontend-winter-2020.git
  Photo image "stonehendge.jpg" - AdobeStock, licensed 2020-02-20
  Logo image "vr.png" - CleanPNG, Free license 2020-02-20
  CSS Normalizer downloaded from - http://yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css
  No HTML Validation Errors
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // Normalize / Reset Global CSS
  link(rel='stylesheet' type='text/css' href='css/cssnormalize-min.css')
  link(rel='stylesheet' type='text/css' href='css/styles.css')
  title VR Travel Experts
header.bgImagePackages
  // Used to change the background image in CSS
  .mainArea
    .topCell
      img(src='images/vr.png' height='100' alt='Welcome to VR Travel Experts')
      h1.companyname
        i Welcome
        |  to VR Travel Experts
    .navBar
      ul
        li
          a(href='index.html') MAIN
        li
          a(href='/index_packages') PACKAGES
        li
          a(href='/contact_agents') CONTACT
        li
          a(href='register.html') REGISTER
        li
          a(href='about.html') ABOUT
    .mainCell
      p.byline
        | Envision taking a Safari through the Serengeti National Park without leaving home. VR Travel packages start as low as $25 USD for tours of famous destinations in over 24 countries.

    // Displays the list of agents in the travelexperts MySQL db
    //TODO create the box for booking item and add sqlin index.js to insert into booking table
.agentBox
    h2 VR Travel Experts: Booking Form

table(align='center' width='400' border='1')
  tr
    td='Virtual Reality Package Travel: '+packageName
  tr
    td='$'+packagePrice+' USD'
  tr
    td(text-align='top')
        img(src='images/'+packageImage width='400' alt='Welcome to VR Travel Experts')
        | VR Travel Experts. Terms &amp; Conditions
  tr
    td(text-align='center')
      a(href='/book_package?PkgId='+packageId+'&PkgName='+packageName+'&PkgPrice='+packagePrice+'&PkgImage='+packageImage) #{packagesName}CLICK HERE TO COMPLETE BOOKING